[submodule "tools/StreamController"]
	path = tools/StreamController
	url = https://github.com/geeksville/StreamController.git
	branch = pr-touchypad
[submodule "tools/OpenDeck"]
	path = tools/OpenDeck
	url = https://github.com/nekename/OpenDeck.git

[submodule "tools/plugins"]
	path = tools/plugins
	url = https://github.com/geeksville/plugins
[submodule "tools/streamcontroller-python-elgato-streamdeck"]
	path = tools/streamcontroller-python-elgato-streamdeck
	url = https://github.com/geeksville/streamcontroller-python-elgato-streamdeck.git
