# SPDX-License-Identifier: Apache-2.0
# Board-specific Kconfig defaults for the JC4827W543 board
# (ESP32-S3 with 4 MB QSPI flash, 8 MB OPI PSRAM).

# ----- Flash (4 MB, QIO @ 80 MHz) -----
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="boards/jc4827w543/partitions.csv"

# ----- PSRAM (8 MB, octal SPI @ 80 MHz) -----
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
